@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  color: #575757;
}
h2 {
  font-size: 45px;
  color: #575757;
}
.orange-red-color {
  color: orangered;
}
.flexible-container {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 50%;
  margin-left: 7%;
  margin-top: 10%;
}
.half-width img {
  width: 100%;
}
.top-banner p {
  color: #828282;
  margin-bottom: 75px;
  font-weight: 200;
  font-family: "Poppins", sans-serif;
}
.link-button {
  padding: 20px 40px;
  background-image: linear-gradient(#3f5efb, #fc466b);
  color: white;
  text-decoration: none;
  font-size: 20px;
  border-radius: 17px;
}
.about-width {
  width: 50%;
  /* margin-left: 10%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: -4px; */
  margin: 5% 10% -4px 10%;
}

.about-width img {
  width: 80%;
  margin-left: 25%;
}
.about-width p {
  color: #828282;
  margin-bottom: 75px;
  font-weight: 200;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 19px;
}
.about-me {
  background-image: url("eat-healthy-main/images/shapes/Frame\ 57.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.recipies-title {
  text-align: center;
  margin-bottom: 50px;
}
.recipies-title p {
  font-size: 20px;
  color: grey;
}

.food-items {
  margin-left: 5%;
  margin-right: 8%;
}

.items {
  width: 50%;
  margin-left: 3%;
  box-shadow: 10px 20px 30px gray;
  padding-left: 30px;
  padding-bottom: 30px;
  border-radius: 25px;
}

.items img {
  width: 95%;
  height: 50%;
  padding-top: 30px;
}

.subscribers {
  width: 90%;
  margin: 0 auto;
  box-shadow: 10px 20px 30px gray;
  display: flex;
  margin-bottom: 100px;
  border-radius: 25px;
  background: #e0e0e0;
  box-shadow: inset 29px 29px 58px #8b8b8b, inset -29px -29px 58px #ffffff;
}

.box-width {
  width: 35%;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 30px;
}
.box-width p {
  color: black;
}
.box-width h2 {
  color: black;
}

footer {
  width: 100%;
  /* margin: auto; */
  text-align: center;
  background-color: black;
  padding-bottom: 100px;
  padding-top: 30px;
}
.text p {
  color: white;
}
